# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/doclinker

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=path/to/serviceAccountKey.json

# Server Configuration
HOST=0.0.0.0
PORT=8000 